extends layoutejercicio7

block content
  div.col-md-6.col-md-offset-3.container
        div(ng-controller="TiendaController")
          br
          div.well(ng-repeat="b in articulo1")
           h1 {{b.nombre }}
           h3 Precio: {{b.precio | currency:"€":2 }}
           h3 stock: {{b.stock }}
           IMG.img-responsive.container(ng-src="{{b.imagen }}")
           br
           button.btn.btn-primary(ng-hide="{{b.stock==0}}") Comprar

     

