doctype html
html(ng-app="Angulartaller")
  head
    title= title
    link(rel='stylesheet',href='/stylesheets/vendor.min.css')
  body(style='margin-top: 20px;')
    block content
    script(src='/javascripts/vendor.min.js')
    script(src='/javascripts/ejercicio8/app.js')
